.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(20, 20, 20);
  color: white;
}

.loading {
  height: 100vh;
  color: white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

.Header {
  margin-bottom: 15px;
}

.Header .top {
  margin-bottom: 20px;
}

.Header .pageTitle {
  color: white;
}

.Home .home-logo {
  height: 35vh;
  font-size: 2em;
}

.logo h2,
.logo {
  color: yellowgreen;
}

.Header .logo {
  margin: 0;
}

.ListEntry {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.ListEntry .entry-value {
  vertical-align: middle;
}

.ListEntry .delete-entry {
  /* align-self: flex-end; */
  width: 30px;
  height: 30px;
  font-size: 10px;
  padding-left: 7px;
}

.NavButtons {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.NavButtons .nav-btn {
  color: rgb(20, 20, 20);
}

.NavButtons .navlinks {
  display: flex;
  justify-content: space-evenly;
}

.Home .home-menu-box {
  margin-top: 4rem;
  display: flex;
}

.Home .home-menu {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}

.Home .menu-btn {
  width: 200px;
}

.Create,
.ListView {
  display: flex;
  flex-direction: column;
}

.Create .new-list-container {
  margin: auto;
}

.ListView .list-view-container {
  margin: auto;
  margin-top: 50px;
}

.ListView .instructions {
  font-size: 0.75rem;
}

.Create .new-list-form {
  max-width: 400px;
  font-size: 11px;
  margin-bottom: 15px;
}

.list-container {
  width: 360px;
  margin: auto;
  text-align: left;
  font-size: 11px;
  /* background: orangered; */
}

.ListView .entries {
  padding: 0;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2;
}

.Create .add-entry,
.Create .new-entry {
  display: inline-block;
  max-width: 300px;
}

.Share .urlBox {
  text-align: center;
  margin: 100px auto;
  max-width: 360px;
}

.Share #shareUrl {
  font-size: 9px;
}

.Share .social-buttons a {
  margin: 8px;
}

.footerpadding {
  content: "";
  height: 100px;
}

.is-hidden {
  display: none;
}

.NavButtons .fade {
  opacity: 0.1;
}

.list-entry {
  border-radius: 3px;
  margin-bottom: 6px;
  background-color: yellowgreen;
  color: #222;
}

.entry-value {
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: yellowgreen;
  color: #222;
  width: 80%;
  padding-top: 4px;
  text-align: center;
}

.delete-entry {
  margin-top: -2px;
}

.ListWar .match-container {
  margin: 110px auto;
  max-width: 360px;
}

.match-entry {
  font-size: 1.6rem;
  margin-bottom: 20px;
  height: 50px;
  padding-top: 8px;
}

.match-entry:hover {
  background: white;
}

.list-clip .winner-entry{
  display: inline-block;
  border-radius: 3px;
  margin-left: 8px;
  margin-bottom: 5px;
  background-color: yellowgreen;
  color: #222;
  width: 90%;
  padding-top: 4px;
  text-align: center;
}