.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(20, 20, 20);
  color: white;
}

.loading {
  height: 100vh;
  color: white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: orangered;
}

.Header {
  margin-bottom: 15px;
}

.Header .pageTitle {
  color: sandybrown;
}

.Header .subText {
  color: white;
  font-size: 11px;
}

.Home .home-logo {
  height: 40vh;
  font-size: 2em;
}

.Header .logo {
  margin: 0;
}

.ListEntry {
  display: flex;
}

.ListEntry .entry-value {
  align-self: flex-start;
}

.ListEntry .delete-entry {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  font-size: 10px;
  padding-left: 6px;  
}

.NavButtons {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.NavButtons .nav-btn {
  color: rgb(20, 20, 20);
}

.NavButtons .navlinks {
  display: flex;
  justify-content: space-evenly;
}

.Home .home-menu-box {
  margin-top: 4rem;
  display: flex;
}

.Home .home-menu {
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}

.Home .menu-btn {
  width: 200px;
}

.Create {
  display: flex;
  flex-direction: column;
}

.Create .new-list-form {
  max-width: 400px;
  margin: auto;
  text-align: left;
  font-size: 11px;
}

.Create .list-container {
  width: 360px;
  margin: auto;
  text-align: left;
  font-size: 11px;
}

.Create .add-entry,
.Create .new-entry {
  display: inline-block;
  max-width: 300px;
}